@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SpaceMono", sans-serif;
}

body {
  padding-top: 90px;
  min-height: 100vh;
  background-color: rgba(248, 239, 236, 1);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgba(248, 239, 236, 0.8);
  backdrop-filter: blur(15px); /* Blurring effect */
  -webkit-backdrop-filter: blur(15px);
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
}

.header .logo,
.header .textnav,
.header .launchApp {
  transition: all 0.3s ease-in-out;
}

.shrink {
  height: 90px;
}

.shrink .logo {
  font-size: 38px;
}

.shrink .navbar .textnav,
.shrink .navbar .launchApp {
  font-size: 21px;
}

.logo {
  font-size: 40px;
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 700;
  transform: translateZ(0);
}

.logo:hover {
  transform: scale(1.05);
}

.getStarted {
  background-color: #2b2b2b;
  color: #f9f1ee;
  text-decoration: none;
  font-size: 30px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.getStarted:hover {
  transform: translateY(-5px);
  background-color: #e0e0e0;
  color: #2b2b2b;
}

.navbar .launchApp {
  position: relative;
  font-size: 22px;
  color: #2b2b2b;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  background: linear-gradient(0deg, rgb(255, 232, 190), rgb(255, 232, 190)) no-repeat left / 0
    var(--bg-h);
  --bg-h: 100%;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
}

.navbar .launchApp {
  border-radius: 2px;
  font-weight: 500;
  background-color: #e0e0e0;
  padding: 5px 15px;
}

.navbar .launchApp:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: #2b2b2b;
}

.navbar .textnav {
  position: relative;
  font-size: 22px;
  color: #2b2b2b;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar .textnav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #2b2b2b;
  transition: 0.3s;
}

.navbar .textnav:hover::before {
  width: 100%;
}

.navbar .textnav.active {
  font-weight: bold;
}

.navbar .textnav:not(.active):hover::before {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 10px;
}

.typing-demo {
  width: 10ch;
  animation: typing 2s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 100px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 100px 20px 100px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: calc(25% - (3 * 20px / 4));
  background-color: #e0e0e0;
  transition: transform 0.3s ease;
  overflow: hidden;

}

.similarity{
  text-align: center;
  width: 100%;
  padding: 5px 0;
}

.card {
  transition: 0.3s;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.download-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("img/download1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  display: none;
  transition: 0.3s;
}

.card-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: drop-shadow(1px);
  transform: scale(0.95);
}

.card-wrapper:hover .download-btn {
  display: block;
  filter: none;
}

.card-wrapper:hover img,
.card-wrapper:hover p {
  opacity: 0.8;
}

/* .card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
} */

.card-container .card-container {
  padding: 2px 16px;
}

.dev-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.dev-wrapper h1{
  font-size: 30px;
}

.dev-demo {
  white-space: nowrap;
}

.dev-container {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.dev-content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #e0e0e0;
  color: #f9f1ee;
  border-radius: 2px;
  overflow: hidden;
  margin: 20px;
  margin-left: 20vw;
  margin-right: 20vw;
  box-shadow: 10px 10px #2b2b2b;
  border: 2px solid #2b2b2b;
}

.dev-image-container {
  display: flex;
  padding: 20px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-image-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 2px;
  margin: auto;
}

.dev-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 700px;
  font-size: 16px;
  background-color: #e0e0e0;
  color: #2b2b2b;
}
.dev-text-container h2 {
  font-size: 30px;
  color: #2b2b2b;
  margin-bottom: 15px;
}

.dev-text-container p {
  text-align: justify;
}

/* Bagian developer */
.dev-developer-wrapper {
  margin-top: 20px;
  /* padding: 0 100px; */
}
.dev-text-developers {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.carddev-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  margin: 50px 10px;
  gap: 40px;
  /* padding: 0 100px; */
}
.carddev .dev-photo{
  height: 350px;
  width: 350px;
  object-fit: cover;
}


.carddev {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: auto;
  max-height:fit-content;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #2b2b2b;
  border: 1px solid #ddd;
  padding: 15px;
}

.carddev:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.carddev .developer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.carddev p {
  margin-top: 10px;
  font-weight: 500;
}

.carddev p.name {
  font-size: 20px;
  color: #f9f1ee;
}

.carddev p.id {
  color: #f9f1ee;
}

.carddev p.role {
  font-style: italic;
  color: #888;
}

.github-logo {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.guides-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.guides-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.guides-container-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
.guides-container-1 h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}


.guides-container h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.guide-section {
  margin-bottom: 30px;
}

.guide-section h2 {
  font-size: 30px;
  color: #2b2b2b;
  margin-bottom: 10px;
}

.guide-section p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
  color: #333;
}

.guide-section-1 p {
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  color: #333;
}

.guide-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 1.2rem;
  font-family: inherit;
  width: 15rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background: #2b2b2b;
  border-radius: 2px;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background:rgba(248, 239, 236, 1);
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.75rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.075rem;
  width: 0.75rem;
  height: 0.75rem;
  border-top: 0.125rem solid rgba(248, 239, 236, 1);
  border-right: 0.125rem solid rgba(248, 239, 236, 1);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.9rem 0;
  margin: 0 0 0 2.25rem;
  font-size: 1.2rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: rgba(248, 239, 236, 1);
  transform: translate(1.25rem, 0);
}

button:hover .button-text {
  color: rgba(248, 239, 236, 1);
}

.photos-right,
.photos-left {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.photos-right:before,
.photos-right:after,
.photos-left:before,
.photos-left:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.photos-right:before,
.photos-left:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f9f1ee);
}

.photos-right:after,
.photos-left:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f9f1ee);
}

.photos-slider-left {
  display: inline-block;
  animation: 80s slide-left infinite linear;
}

.photos-slider-left img,
.photos-slider-right img {
  height: 200px;
  margin: 0 10px;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.photos-slider-right {
  /* margin-top: 10px; */
  display: inline-block;
  animation: 80s slide-right infinite linear;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pagination button {
  padding: 12px 18px;
  font-size: 15px;
  /* margin: 0 5px; */
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover:not(.current-page) {
  background-color: darkgray;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #2b2b2b;
  color: white;
}

.pagination button.current-page {
  background-color: white;
  color: #2b2b2b;
  font-weight: bold;
}

.pagination button.current-page:hover {
  background-color: white;
}

#page-number {
  display: inline-block;
  padding: 12px 18px;
  background-color: #2b2b2b;
  color: white; 
  border-radius: 2px;
  font-size: 1rem;
  border: 1px solid white; 
}

.tech-stack {
  text-align: center;
  margin-top: 50px;
}

.tech-stack h1 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  color: #2b2b2b;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 20px;
  color: whitesmoke;
  position: relative;
}

.tech-card:hover img {
  transform: translateY(-5px) scale(1.05);
  filter: brightness(1.2);
}

.tech-card img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-card-htmx{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 20px;
  color: whitesmoke;
  position: relative;
}

.tech-card-htmx img{
  width: 300px;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-card-htmx p{
  font-size: 16px;
  color: #2b2b2b;
  margin-top: 10px;
}

.tech-card-htmx:hover img {
  transform: translateY(-5px) scale(1.05);
  filter: brightness(1.2);
}

.tech-card p {
  font-size: 16px;
  color: #2b2b2b;
  margin-top: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in-once {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-right.start-fade-in-right {
  animation: fadeInRight 1s ease forwards;
}

.fade-in-left.start-fade-in-left {
  animation: fadeInLeft 1s ease forwards;
}

.fade-in-up.start-fade-in-up {
  animation: fadeInUp 1s ease forwards;
}

.fade-in-down.start-fade-in-down {
  animation: fadeInDown 1s ease forwards;
}


