@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SpaceMono", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f9f1ee;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 40px;
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 700;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.title {
  text-align: center;
  font-size: 40px;
  font-style: italic;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin-top: 10px;
}

.getStarted {
  background-color: #2b2b2b;
  color: #f9f1ee;
  text-decoration: none;
  font-size: 30px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.getStarted:hover {
  transform: translateY(-5px);
  background-color: #e0e0e0;
  color: #2b2b2b;
}

.navbar .launchApp {
  position: relative;
  font-size: 22px;
  color: #2b2b2b;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  background: linear-gradient(0deg, #2b2b2b, #2b2b2b) no-repeat left / 0
    var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}

.navbar .launchApp {
  border-radius: 2px;
  font-weight: 500;
  background-color: #e0e0e0;
  padding: 5px 15px;
}

.navbar .launchApp:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: #f9f1ee;
}

.navbar .textnav {
  position: relative;
  font-size: 22px;
  color: #2b2b2b;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar .textnav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #2b2b2b;
  transition: 0.3s;
}

.navbar .textnav:hover::before {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.typing-demo {
  width: 10ch;
  animation: typing 2s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 100px;
}

.typing-p {
  animation: typing-p 2s steps(168), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing-p {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 90px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: calc(25% - 20px);
  height: auto;
  border-radius: 2px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  position: relative;
  transition: transform 0.3s ease;
}

.download-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("img/download.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  display: none;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: drop-shadow(1px);
  transform: scale(0.95);
}

.card:hover .download-btn {
  display: block;
  filter: none;
}

.card:hover img,
.card:hover p {
  opacity: 0.8;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card-container .card-container {
  padding: 2px 16px;
}
