.title {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-file-upload {
  display: inline-block;
  padding: 30px 60px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  margin-top: 10px;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-file-upload:hover {
  color: rgba(248, 239, 236, 1);
  background-color: #2b2b2b;
}

.upload-dataset-btn {
  display: block;
  padding: 30px 60px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  margin-top: 10px;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.upload-dataset-btn:hover {
  color: rgba(248, 239, 236, 1);
  background-color: #2b2b2b;
}

.upload-dataset-btn,
.search-button button {
  border: none;
}

.photo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  gap: 50px;
}

.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  height: auto;
  text-align: center;
  border-radius: 8px;
  border: black;
}

#preview {
  border: 2px dashed black;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  width: 700px;
  height: 438px;
  background-color: #2b2b2b;
  overflow: hidden;
  transition: border 0.3s ease, background-color 0.3s ease;
}

#preview p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
}

#preview .obj {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#file-chosen {
  color: #2b2b2b;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.right-panel {
  border-radius: 2px;
  width: 50%;
  height: 400px;
}

.how-link {
  text-decoration: none;
  color: inherit;
}

.how-link:hover .text-how {
  color: rgba(248, 239, 236, 1);
  background-color: #2b2b2b;
}

.how-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrape-button{
  display: block;
  border: none;
  padding: 30px 94px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.scrape-button:hover{
  color: rgba(248, 239, 236, 1);
  background-color: #2b2b2b;
}

.text-how {
  display: inline-block;
  padding: 30px 80px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-img {
  font-size: 20px;
  margin-top: 40px;
}

.pdf-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-button button {
  margin-top: 20px;
  display: block;
  padding: 30px 70px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  margin-top: 10px;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button button:hover {
  color: rgba(248, 239, 236, 1);
  background-color: #2b2b2b;
}

.toggle-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 2px;
  padding: 5px;
  margin-top: 10px;
}

.toggle-label {
  color: #5d5c5c;
  position: relative;
  margin: 0;
  padding: 20px 55px;
  cursor: pointer;
  font-size: 22px;
  transition: color 0.05s ease;
  flex: 1;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  background-color: #e0e0e0;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 93%;
  height: 93%;
  background-color: #2f2f2f;
  border-radius: 2px;
  transition: transform 0.05s ease;
  z-index: -1;
}

.toggle-container input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label::after {
  transform: translate(-50%, -50%) scale(1);
}

input[type="radio"]:checked + label {
  color: rgba(248, 239, 236, 1);
  background-color: transparent;
}

.toggle-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}

.card-result p {
  font-size: 28px;
  color: #2b2b2b;
}

.horizontal-bar {
  border: none;
  height: 3px;
  background-color: #2b2b2b;
  margin: 20px 0;
}

.bar-container {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.popup-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgba(248, 239, 236, 1);
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

.popup h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zip-btn {
  border-radius: 2px;
  border: none;
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  background: #e0e0e0;
}

.folder-btn {
  border-radius: 2px;
  border: none;
  padding: 20px 20px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  background: #e0e0e0;
}

.zip-btn:hover,.folder-btn:hover{
  background-color: #2b2b2b;
  color:rgba(248, 239, 236, 1);
  transform: translateY(-3px);
}

.file-upload-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-between; */
}

.input-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px; /* Spacing between elements */
}

.popup-upload-btn {
  font-size: 16px;
  padding: 20px 15px;
  margin-right: 10px;
  background-color: #2b2b2b;
  color: rgba(248, 239, 236, 1);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  text-decoration: none;
}

.popup-upload {
  font-size: 16px;
  padding: 20px 30px;
  background-color: #2b2b2b; /* Example green color */
  color: rgba(248, 239, 236, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.popup-upload-btn:hover {
  background-color: #e0e0e0;
  color: #2b2b2b;
  transform: translateY(-3px);
}

.popup-upload:hover {
  background-color: #e0e0e0;
  color: #2b2b2b;
  transform: translateY(-3px);
}

#zip-file-name {
  margin-top: 10px;
}

.text-popup {
  text-align: center;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  padding: 0px 10px;
}

.close-button:hover{
  transform: rotate(-90deg);
}

.errorMsg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
  font-size: 28px;
  color: #2b2b2b;
}

.close-wrapper{
  display: flex;
  flex-direction: row;
}
/* close button styling */

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}
.close-container:hover label {
  opacity: 1;
}
