.title {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-file-upload {
  display: inline-block;
  padding: 30px 60px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  margin-top: 10px;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: rgb(255, 232, 190);
}

.upload-dataset-btn {
  display: block;
  padding: 30px 60px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  margin-top: 10px;
  font-size: 22px;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.upload-dataset-btn:hover {
  background-color: rgb(255, 232, 190);
}

.photo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  gap: 50px;
}

.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  height: auto;
  text-align: center;
  border-radius: 8px;
  border: black;
}

#preview {
  border: 2px dashed black;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  width: 700px;
  height: 438px;
  background-color: #2b2b2b;
  overflow: hidden;
  transition: border 0.3s ease, background-color 0.3s ease;
}

#preview p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
}

#preview .obj {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#file-chosen {
  color: #2b2b2b;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.right-panel {
  border-radius: 2px;
  width: 50%;
  height: 400px;
}

.how-link {
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  text-decoration: none;
  color: inherit;
}

.how-link:hover .text-how {
  background-color: rgb(255, 232, 190);
}

.how-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrape-button{
  display: block;
  border: none;
  padding: 30px 94px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  font-size: 22px;
  transition: all 0.3s ease;
}

.scrape-button:hover{
  background-color: rgb(255, 232, 190);
}

.text-how {
  display: inline-block;
  padding: 30px 80px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-img {
  font-size: 20px;
  margin-top: 40px;
}

.pdf-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-button button {
  margin-top: 20px;
  display: block;
  padding: 30px 70px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  margin-top: 10px;
  font-size: 22px;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button button:hover {
  background-color: rgb(255, 232, 190)
}

.toggle-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  border-radius: 2px;
  padding: 5px;
  margin-top: 10px;
}

.toggle-label {
  color: #5d5c5c;
  position: relative;
  margin: 0;
  padding: 20px 55px;
  cursor: pointer;
  font-size: 22px;
  transition: color 0.05s ease;
  flex: 1;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  background-color: #e0e0e0;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 93%;
  height: 93%;
  background-color: #2f2f2f;
  border-radius: 2px;
  transition: transform 0.05s ease;
  z-index: -1;
}

.toggle-container input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label::after {
  transform: translate(-50%, -50%) scale(1);
}

input[type="radio"]:checked + label {
  color: rgba(248, 239, 236, 1);
  background-color: transparent;
}

.toggle-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}

.card-result p {
  font-size: 28px;
  color: #2b2b2b;
}

.horizontal-bar {
  border: none;
  height: 3px;
  background-color: #2b2b2b;
  margin: 20px 0;
}

.bar-container {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.popup-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgba(248, 239, 236, 1);
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.popup h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zip-btn {
  border-radius: 2px;
  border: none;
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  background: #e0e0e0;
}

.folder-btn {
  border-radius: 2px;
  border: none;
  padding: 20px 20px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  background: #e0e0e0;
}

.zip-btn:hover,.folder-btn:hover{
  background-color: rgb(255, 232, 190);
  transform: translateY(-3px);
}

.file-upload-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-between; */
}

.input-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px; /* Spacing between elements */
}

.popup-upload-btn {
  font-size: 16px;
  padding: 20px 15px;
  margin-right: 10px;
  background-color: rgba(248, 239, 236, 1);
  color: #2b2b2b;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  text-decoration: none;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
}

.popup-upload {
  font-size: 16px;
  padding: 20px 30px;
  background-color: rgba(248, 239, 236, 1); /* Example green color */
  color: #2b2b2b;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
}

.popup-upload-btn:hover, .popup-upload:hover {
  background-color: rgb(255, 232, 190);
  transform: translateY(-3px);
}

#zip-file-name {
  margin-top: 10px;
}

.text-popup {
  text-align: center;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  padding: 0px 10px;
}

.close-button:hover{
  transform: rotate(-90deg);
}

.errorMsg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
  font-size: 28px;
  color: #2b2b2b;
}

.close-wrapper{
  display: flex;
  flex-direction: row;
}

.loading-text {
  font-size: 30px;
  margin-top: 10px;
}

.download-pdf {
  text-decoration: none;
  display: block;
  padding: 30px 60px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #e0e0e0;
  color: #2b2b2b;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  margin-top: 0px;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-pdf:hover {
  background-color: rgb(255, 232, 190);
}

.form-input {
  margin-bottom: 10px;
}
.form-input input {
  margin-top: 30px;
  width: calc(100% - 20px);
  height: 45px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #2b2b2b;
  border-radius: 2px;
  font-size: 14px;
}
.form-input button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background: #e0e0e0;
  color: #2b2b2b;
  box-shadow: 5px 5px #2b2b2b;
  border: 2px solid #2b2b2b;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.form-input button:hover {
  background: rgb(255, 232, 190);
  color: #2b2b2b;
}

.scrape-text-container{
  margin-top: 40px;
}
.scrape-text-container p{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.scrape-text-container h2{
  font-size: 20px;
}

.question-container img{
  width: 20px;
  height: 20px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 35px;
}

/* .question-container img:hover{
  background-image: url("img/question_black.png");
} */

.popup h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pulse {
  width: 121px;
  height: 67.2px;
  color: #2b2b2b;
  --c: radial-gradient(farthest-side,currentColor 96%,#0000);
  background: var(--c) 100% 100% /30% 60%,
         var(--c) 70%  0    /50% 100%,
         var(--c) 0    100% /36% 68%,
         var(--c) 27%  18%  /26% 40%,
         linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}

.pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pulse-hjvm54 1s infinite;
}

@keyframes pulse-hjvm54 {
  to {
     transform: scale(1.4);
     opacity: 0;
  }
}

.pulse-scrape {
  margin: 25px;
  width: 22.4px;
  height: 22.4px;
  border-radius: 50%;
  background: #2b2b2b;
  box-shadow: 0 0 0 0 rgba(43,43,43,0.5);
  animation: pulse-kefe91md 2.0999999999999996s infinite linear;
  position: relative;
}

.pulse-scrape:before,
.pulse-scrape:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(43,43,43,0.5);
  animation: inherit;
  animation-delay: -0.7s;
}

.pulse-scrape:after {
  animation-delay: -1.4s;
}

@keyframes pulse-kefe91md {
  100% {
    box-shadow: 0 0 0 44.8px #0000;
  }
}