<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PixPlore | Help</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/icon.jpg') }}" type="image/jpg" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.jpg') }}" type="image/jpg" />
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  <header class="header">
    <a href="{{ url_for('index') }}" class="logo">PixPlore.</a>
    <nav class="navbar">
      <a href="{{ url_for('index') }}" class="textnav">/Home</a>
      <a href="{{ url_for('developers') }}" class="textnav">/Developers</a>
      <a href="{{ url_for('guides') }}" class="textnav active">/Guides</a>
      <a href="{{ url_for('program') }}" class="launchApp">Launch App |></a>
    </nav>
  </header>
  <div class="guides-wrapper">
    <div class="guides-container-1 fade-in-down">
      <h1>
        What is PixPlore ?
      </h1>
      <section class="guide-section-1">
        <p>
          Pixplore is a web service or application that provides Content-Based
          Image Retrieval (CBIR) functionality. CBIR is a process used to
          search for and retrieve images based on their visual content, rather
          than relying on textual keywords or descriptions.
        </p>
      </section>
    </div>
    <div class="guides-container fade-in-right">
      <h1>
        How to Use PixPlore ?
      </h1>
      <section class="guide-section">
        <h2>1. Uploading Your Image Dataset</h2>
        <p>
          Users should first upload a dataset of images in the form of a
          folder containing a collection of images. This image dataset is
          required before the searching process to have a basis for comparison
          with the image you want to search for.
        </p>
      </section>
      <section class="guide-section">
        <h2>2. Inputting the Search Image</h2>
        <p>
          Once the dataset is uploaded, users can input an image they want to
          search for from the dataset.
        </p>
      </section>
      </section>
      <section class="guide-section">
        <h2>3. Choosing Search Options</h2>
        <p>
          Choose a search option, whether you want to search based on color or
          texture.
        </p>
      </section>
      <section class="guide-section">
        <h2>4. Start Searching</h2>
        <p>
          Press the search button, and the program will then process,
          searching for images within the dataset that have similarities to
          the uploaded image.
        </p>
      </section>
      <section class="guide-section">
        <h2>5. Viewing Results</h2>
        <p>
          The program will display a collection of similar images, sorted from
          the highest to the lowest similarity. Each image that appears will
          be accompanied by a percentage indicating its similarity.
          Information about the number of images displayed and the program's
          execution time will also be provided.
        </p>
      </section>
      <section class="guide-section">
        <h2>6. Downloading Report</h2>
        <p>
          The program generates a report that encompasses the input image, search type, and the visually similar output
          image. To access the report, simply click the button located at the bottom of the page. If the button is not
          immediately visible, please be patient for a few moments as the program compiles the report. The time required
          for this process may vary, especially when dealing with a substantial number of similar images or output.
        </p>
      </section>
      <section class="guide-section" id="webscrape-section">
        <h2>&#9874; Using the Web Scraping Feature</h2>
        <p>
          You can use the web scraping feature to add a new dataset. Click on the web scrape button and submit a link to
          a webpage. Our tool will scan the webpage and extract available images. These images can be added to your
          dataset, giving you more data to work with for searching and analysis.
        </p>
        <br>
        <p>
          Note: Make sure to only scrape websites you have permission to access, and use the images in compliance with
          their copyright terms.
        </p>
      </section>
      <section class="guide-section" id="camera-section">
        <h2>&#128253; Using the Camera Feature</h2>
        <p>
          You can utilize the camera feature to compare images captured by the camera with those in the dataset. To
          begin, upload the dataset and then click the "Start" button. Every 10 seconds, Pixplore will capture an image
          and provide you with visually similar images. Additionally, you have the option to download the report.
        </p>
        <br>
        <p>
          Important Note: If you wish to create a dataset by scraping a website, you can start by scraping on the App
          page. Afterward, proceed to the camera page to utilize the camera feature.
        </p>
      </section>

    </div>

    <div class="guide-container fade-in-right">
      <a href="{{ url_for('program') }}">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Try It Now!</span>
        </button>
      </a>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scroll.js')}}"></script>
  <script src="{{ url_for('static', filename='fadeanimation.js') }}"></script>
</body>

</html>