<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixPlore | Devs</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
  </head>
  <body>
    <header class="header">
      <a href="{{ url_for('index') }}" class="logo">PixPlore.</a>
      <nav class="navbar">
        <a href="{{ url_for('index') }}" class="textnav">/Home</a>
        <a href="{{ url_for('technology') }}" class="textnav">/Technology</a>
        <a href="{{ url_for('guides') }}" class="textnav">/Guides</a>
      </nav>
    </header>
    <div class="dev-wrapper">
      <div class="dev-demo">
        <h1>The team</h1>
      </div>
      <div class="dev-container">
        <p>
          We want to see the world more fair and transparent. We are building
          the missing puzzles in order to see our vision come true.
        </p>
      </div>
    </div>
    <div class="dev-content-container">
      <div class="dev-image-container">
        <img
          src="{{ url_for('static', filename='img/img_avatar.png') }}"
          alt="Avatar"
          style="width: 100%"
        />
      </div>
      <div class="dev-text-container">
        <h2>Meet us!</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iste
          veniam porro, incidunt placeat labore reprehenderit earum alias eos
          consequatur debitis sed fugit iure velit ad, amet quis exercitationem
          perferendis aliquid rerum magni omnis! Labore illum soluta ea
          aspernatur ducimus odio dolore dignissimos dolores nihil. Modi, animi
          voluptatibus! Nulla, optio.
        </p>
      </div>
    </div>

    <div class="dev-developer-wrapper">
        <div class="dev-text-developers">
            <h1>Our Developers</h1>
        </div>
        <div class="carddev-container">
            <div class="carddev">
                <img
                    src="{{ url_for('static', filename='img/img_avatar.png') }}"
                    alt="Developer"
                    class="developer"
                    style="width: 100%"
                />
                <p class="name">Filbert</p>
                <p class="id">13522021</p>
                <p class="role">Front End</p>
                <a href="https://github.com/Filbert88" target="_blank">
                  <img
                    src="{{ url_for('static', filename='img/github_logo.svg') }}"
                    alt="github"
                    class="github-logo"
                  />
                </a>
            </div>
            <div class="carddev">
                <img
                    src="{{ url_for('static', filename='img/img_avatar.png') }}"
                    alt="Developer"
                    class="developer"
                    style="width: 100%"
                />
                <p class="name">Juan Alfred Wijaya</p>
                <p class="id">13522073</p>
                <p class="role">Back End</p>
                <a href="https://github.com/juanaw6" target="_blank">
                  <img
                    src="{{ url_for('static', filename='img/github_logo.svg') }}"
                    alt="github"
                    class="github-logo"
                  />
                </a>
            </div>
            <div class="carddev">
                <img
                    src="{{ url_for('static', filename='img/img_avatar.png') }}"
                    alt="Developer"
                    class="developer"
                    style="width: 100%"
                />
                <p class="name">Azmi Mahmud Bahzeid</p>
                <p class="id">13522109</p>
                <p class="role">Back End</p>
                <a href="https://github.com/RealAzzmi" target="_blank">
                  <img
                    src="{{ url_for('static', filename='img/github_logo.svg') }}"
                    alt="github"
                    class="github-logo"
                  />
                </a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
