<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixPlore | Devs</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <header class="header">
      <a href="{{ url_for('index') }}" class="logo">PixPlore.</a>
      <nav class="navbar">
        <a href="{{ url_for('index') }}" class="textnav">/Home</a>
        <a href="{{ url_for('developers') }}" class="textnav active">/Developers</a>
        <a href="{{ url_for('guides') }}" class="textnav">/Guides</a>
        <a href="{{ url_for('program') }}" class="launchApp">Launch App |></a>
      </nav>
    </header>
    <div data-aos="fade-down" data-aos-delay="300" data-aos-duration="1000" class="dev-wrapper">
      <div class="dev-demo">
        <h1>The Team.</h1>
      </div>
      <div class="dev-container">
        <p>
          We want to see the world more fair and transparent. We are building
          the missing puzzles in order to see our vision come true.
        </p>
      </div>
    </div>
    <div data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" class="dev-content-container">
      <div class="dev-image-container">
        <img
          src="{{ url_for('static', filename='img/303997_0.jpg') }}"
          alt="Avatar"
          style="width: 100%"
        />
      </div>
      <div class="dev-text-container">
        <h2>Meet us!</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iste
          veniam porro, incidunt placeat labore reprehenderit earum alias eos
          consequatur debitis sed fugit iure velit ad, amet quis exercitationem
          perferendis aliquid rerum magni omnis! Labore illum soluta ea
          aspernatur ducimus odio dolore dignissimos dolores nihil. Modi, animi
          voluptatibus! Nulla, optio.
        </p>
      </div>
    </div>
    <section class="tech-stack">
      <h1>< Our Tech Stack ></h1>
      <div class="tech-icons">
        <div class="tech-card" title="Flask - Micro web framework for building web applications in Python.">
          <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="css"/>   
          </a>
          <p>CSS</p>
        </div>
        <div class="tech-card" title="Flask - Micro web framework for building web applications in Python.">
          <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">
            <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="Flask" />
          </a>
          <p>Flask</p>
        </div>
        <div class="tech-card" title="Python - A powerful programming language that I use for backend development.">
          <a href="https://htmx.org/" target="_blank"> 
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html"/> 
          </a>
          <p>HTML & HTMX</p>
        </div>
      </div>
    </section>
    
    <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" class="dev-developer-wrapper">
        <div  class="dev-text-developers">
            <h1>{ Our Developers }</h1>
        </div>
        <div class="carddev-container">
            <div class="carddev">
                <img
                    src="{{ url_for('static', filename='img/938548.jpg') }}"
                    alt="Developer"
                    class="developer"
                    style="width: 100%"
                />
                <p class="name">Filbert</p>
                <p class="id">13522021</p>
                <p class="role">Front End</p>
                <a href="https://github.com/Filbert88" target="_blank">
                  <img
                    src="{{ url_for('static', filename='img/github_logo.svg') }}"
                    alt="github"
                    class="github-logo"
                  />
                </a>
            </div>
            <div class="carddev">
                <img
                    src="{{ url_for('static', filename='img/309960_0.jpg') }}"
                    alt="Developer"
                    class="developer"
                    style="width: 100%"
                />
                <p class="name">Juan Alfred Widjaya</p>
                <p class="id">13522073</p>
                <p class="role">Back End</p>
                <a href="https://github.com/juanaw6" target="_blank">
                  <img
                    src="{{ url_for('static', filename='img/github_logo.svg') }}"
                    alt="github"
                    class="github-logo"
                  />
                </a>
            </div>
            <div class="carddev">
                <img
                    src="{{ url_for('static', filename='img/309960_0.jpg') }}"
                    alt="Developer"
                    class="developer"
                    style="width: 100%"
                />
                <p class="name">Azmi Mahmud Bahzeid</p>
                <p class="id">13522109</p>
                <p class="role">Back End</p>
                <a href="https://github.com/RealAzzmi" target="_blank">
                  <img
                    src="{{ url_for('static', filename='img/github_logo.svg') }}"
                    alt="github"
                    class="github-logo"
                  />
                </a>
            </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scroll.js')}}"></script>
    <script>
      AOS.init({
        disable: 'mobile'
      });
    </script>
  </body>
</html>
