<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixPlore | Help</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css"
    />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <header class="header">
      <a href="{{ url_for('index') }}" class="logo">PixPlore.</a>
      <nav class="navbar">
        <a href="{{ url_for('index') }}" class="textnav">/Home</a>
        <a href="{{ url_for('developers') }}" class="textnav">/Developers</a>
        <a href="{{ url_for('guides') }}" class="textnav active">/Guides</a>
        <a href="{{ url_for('program') }}" class="launchApp">Launch App |></a>
      </nav>
    </header>
    <div class="guides-wrapper">
      <div class="guides-container-1">
        <h1>
          What is PixPlore ?
        </h1>
        <section class="guide-section-1">
          <p>
            Pixplore is a web service or application that provides Content-Based
            Image Retrieval (CBIR) functionality. CBIR is a process used to
            search for and retrieve images based on their visual content, rather
            than relying on textual keywords or descriptions.
          </p>
        </section>
      </div>
      <div class="guides-container">
        <h1>
          How to Use PixPlore ?
        </h1>
        <section class="guide-section">
          <h2>1. Uploading Your Image Dataset</h2>
          <p>
            Users should first upload a dataset of images in the form of a
            folder containing a collection of images. This image dataset is
            required before the searching process to have a basis for comparison
            with the image you want to search for.
          </p>
        </section>
        <section class="guide-section">
          <h2>2. Inputting the Search Image</h2>
          <p>
            Once the dataset is uploaded, users can input an image they want to
            search for from the dataset.
          </p>
        </section>
        <section class="guide-section">
          <h2>3. Choosing Search Options</h2>
          <p>
            Choose a search option, whether you want to search based on color or
            texture.
          </p>
        </section>
        <section class="guide-section">
          <h2>4. Start Searching</h2>
          <p>
            Press the search button, and the program will then process,
            searching for images within the dataset that have similarities to
            the uploaded image.
          </p>
        </section>
        <section class="guide-section">
          <h2>5. Viewing Results</h2>
          <p>
            The program will display a collection of similar images, sorted from
            the highest to the lowest similarity. Each image that appears will
            be accompanied by a percentage indicating its similarity.
            Information about the number of images displayed and the program's
            execution time will also be provided.
          </p>
        </section>
      </div>

      <div class="guide-container">
        <a href="{{ url_for('program') }}">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Try It Now!</span>
          </button>
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scroll.js')}}"></script>
    <script>
      AOS.init({
        disable: "mobile",
      });
    </script>
  </body>
</html>
