<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixPlore | Help</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <header class="header">
      <a href="{{ url_for('index') }}" class="logo">PixPlore.</a>
      <nav class="navbar">
        <a href="{{ url_for('index') }}" class="textnav">/Home</a>
        <a href="{{ url_for('developers') }}" class="textnav">/Developers</a>
        <a href="{{ url_for('guides') }}" class="textnav active">/Guides</a>
        <a href="{{ url_for('program') }}" class="launchApp">Launch App |></a>
      </nav>
    </header>
    <div class="guides-wrapper">
      <div class="guides-container">
        <h1 data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">How to Use PixPlore</h1>
        <section data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" class="guide-section">
          <h2>Getting Started</h2>
          <p>Instructions on how to get started with PixPlore...</p>
        </section>
        <section data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" class="guide-section">
          <h2>Uploading Images</h2>
          <p>Detailed steps on how to upload and manage images...</p>
        </section>
        <section data-aos="fade-right" data-aos-delay="600" data-aos-duration="1000" class="guide-section">
          <h2>Searching and Exploring</h2>
          <p>Tips on how to effectively search and explore images...</p>
        </section>
        <section data-aos="fade-right" data-aos-delay="700" data-aos-duration="1000" class="guide-section">
          <h2>Additional Features</h2>
          <p>Information about additional features and how to use them...</p>
        </section>
      </div>

      <div data-aos="fade-right" data-aos-delay="800" data-aos-duration="1000" class="guide-container">
        <a href="{{ url_for('program') }}">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Try It Now!</span>
          </button>
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scroll.js')}}"></script>
    <script>
      AOS.init({
        disable: 'mobile'
      });
    </script>
  </body>
</html>
