<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixPlore | tech stack</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/icon.jpg') }}"
      type="image/jpg"
    />
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  </head>
  <body>
    <header class="header">
      <a href="{{ url_for('index') }}" class="logo">PixPlore.</a>
      <nav class="navbar">
        <a href="{{ url_for('index') }}" class="textnav">/Home</a>
        <a href="{{ url_for('developers') }}" class="textnav">/Developers</a>
        <a href="{{ url_for('guides') }}" class="textnav">/Guides</a>
      </nav>
    </header>
    <div>
        <h1>Ini page tech stack</h1>
    </div>
</html>
