<h2>Upload Folder</h2>
<div class="file-upload-container">
  <form
    hx-post="/upload_folder"
    enctype="multipart/form-data"
    hx-target="#popup"
    hx-swap="innerHTML"
    data-prompt-for="files[]"
  >
    <div class="input-wrapper">
      <label for="folder" class="popup-upload-btn">Choose Folder</label>
      <input
        id="folder"
        type="file"
        name="files[]"
        accept=".jpg, .jpeg, .png"
        multiple
        webkitdirectory
        directory
        style="display: none"
        onchange="updateFolderName()"
      />
      <label for="folderupload" class="popup-upload-btn">Upload Folder</label>
    </div>
    <div class="text-popup">
      <span id="folder-name">No file chosen</span>
    </div>
    <input
      id="folderupload"
      type="submit"
      value="Upload Folder"
      style="display: none"
    />
    <button
      hx-get="/upload_popup"
      hx-target="#popup-container"
      hx-swap="innerHTML"
      class="close-button"
    >
      X
    </button>
  </form>
</div>
